<%= render 'form' %>


    
    <div id="chatbox"></div>



<script src="http://js.pusherapp.com/2.2/pusher.min.js"></script>
<script>
$(function () {
    //establish Pusher connection
    var pusher = new Pusher('1e654b95cdf49ce5e092');
    var myChannel = pusher.subscribe('survey-channel');
    // deal with new messages
    myChannel.bind('data-changed', function(data){
      updateResults(data)
      console.log('was here');
    });
    
  });
  
  function updateResults(data){

	var oldscrollHeight = $("#chatbox").prop("scrollHeight") - 20; //Scroll height before the request


	var d = new Date();
	$("#chatbox").append("("+d.getHours()+":"+d.getMinutes()+":"+ d.getSeconds()+") "+data[0]+":"+data[1]);
	$("#chatbox").append("<br>");
    var newscrollHeight = $("#chatbox").prop("scrollHeight") - 20; //Scroll height after the request

    if( newscrollHeight > oldscrollHeight){
      $("#chatbox").animate({ scrollTop: newscrollHeight }, 'normal'); //Autoscroll to bottom of div
    } 
    
  
    //tbody.html(html);
    //jQuery(".chartscontainer").remove(); // remove old chart
    //jQuery("#results").charts(); // show updated chart
  }
</script>
