<!DOCTYPE html>
<html>
  <body>
    <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
    <div id="player"></div>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script src="//js.pusher.com/2.2/pusher.min.js"></script>

<!-- Downloaded in step 1 -->
<script src="pusher-realtime-chat-widget/src/js/PusherChatWidget.js"></script>
<link href="pusher-realtime-chat-widget/src/pusher-chat.css" rel="stylesheet" type="text/css" />

    <script>
    






      // 2. This code loads the IFrame Player API code asynchronously.
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      // 3. This function creates an <iframe> (and YouTube player)
      //    after the API code downloads.
      var player;
      var zoomAhead=0;
      function onYouTubeIframeAPIReady() {
        var e = new Date();
        var d = new Date(2014, 7, 21, 13, 9, 0, 0);
        console.log(e.getTime()-d.getTime());
        
        if(e.getTime()>d.getTime()){
          zoomAhead=Math.round((e.getTime()-d.getTime())/1000);
        }
        player = new YT.Player('player', {
          height: '390',
          width: '640',
          videoId: '21O9x8nYoqY',
          playerVars: { 'controls': 1,
          'start': zoomAhead },
          events: {
            'onReady': onPlayerReady,
          }
        });

      }
      // 4. The API will call this function when the video player is ready.
      function onPlayerReady(event) {
        var d = new Date(2014, 7, 21, 13, 9, 0, 0);
        console.log(d.getTime())
        var e = new Date();
        console.log(d.getTime()-e.getTime());
      	setTimeout(function() { event.target.playVideo();},0);
     
        
      }

      // 5. The API calls this function when the player's state changes.
      //    The function indicates that when playing a video (state=1),
      //    the player should play for six seconds and then stop.
      var done = false;
      function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.PLAYING && !done) {
        	
         
        }
      }
      function stopVideo() {
        player.stopVideo();
      }
    </script>
  </body>
</html>