

<body>
<p> <%= "#{@likes}" %> </p>
    <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
    <br>
<%= form_tag '/search', :method => 'get',:class=> "form-inline"   do %>
   <div class= "left">
    <%= label_tag(:search, "Search for:") %>
    <%= text_field_tag :search %>

    
    <%= radio_button_tag :max_results, 6 %>
    <%= label_tag(:top_6, "Top 6") %>

    <%= radio_button_tag(:max_results, 26) %>
    <%= label_tag(:top_26, "Top 26 (default)") %>
    
    
    <%= submit_tag "Search", :name => nil %>
  </div>
<% end %>
  <br>
<div id="output" class="out left">
    <script>
      // 2. This code loads the IFrame Player API code asynchronously.
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      // 3. This function creates an <iframe> (and YouTube player)
      //    after the API code downloads.
      var playerArray = new Array();
      function onYouTubeIframeAPIReady() {
        
        
        <% $i = 0%>
        <%begin%>
            var ele = document.createElement("div");
            ele.setAttribute("id","player"+"<%=$i%>");
            output.appendChild(ele);
            var ele2 = document.createElement("div");
            ele2.setAttribute("id","player"+"<%=$i+1%>");
            output.appendChild(ele2);

            var elem = document.createElement("div");
            elem.setAttribute("id","rating"+"<%=$i%>");
            elem.setAttribute("style", "top:" +  49 + "px; left:" + 30 + "px; width:" + 640 + "px; height:" + 42+ "px; display:"+ "table-cell");
            var t=document.createTextNode("Likes: <%=@likes[$i]%>");
            elem.appendChild(t);
            output.appendChild(elem);
            
            var elem2 = document.createElement("div");
            elem2.setAttribute("id","rating"+"<%=$i+1%>");
            elem2.setAttribute("style", "top:" +  49 + "px; left:" + 30 + "px; width:" + 640 + "px; height:" + 42+ "px; display:"+ "table-cell");
            var t=document.createTextNode("Likes: <%=@likes[$i+1]%>");
            elem2.appendChild(t);
            output.appendChild(elem2);

           
            var elem3 = document.createElement("br");
            output.appendChild(elem3);
            playerArray[<%=$i%>] = new YT.Player('player'+"<%=$i%>", {
              height: '390',
              width: '640',
              videoId: "<%= @videos[$i] %>",
              events: {
           
              }
            });

             playerArray[<%=$i+1%>] = new YT.Player('player'+"<%=$i+1%>", {
              height: '390',
              width: '640',
              videoId: "<%= @videos[$i+1] %>",
              events: {
           
           
              }
            });
            
            <% $i +=2%>
       
        <% end while $i < @videos.length%>
      }

      // 4. The API will call this function when the video player is ready.
      function onPlayerReady(event) {
        
        event.target.playVideo();
      }

      // 5. The API calls this function when the player's state changes.
      //    The function indicates that when playing a video (state=1),
      //    the player should play for six seconds and then stop.
      var done = false;
      function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.PLAYING && !done) {
          setTimeout(stopVideo, 6000);
          done = true;
        }
      }
      function stopVideo() {
        <% @videos.each_with_index do |video,i| %>
        playerArray[<%=i%>].stopVideo();
         <% end%>
      }
    </script>
  </body>