<%= render 'form' %>


    
    <div id="chatbox"></div>


<table id ="user_table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<script src="http://js.pusherapp.com/2.2/pusher.min.js"></script>
<script>
$(function () {
    //establish Pusher connection
    var pusher = new Pusher('1e654b95cdf49ce5e092');
    var myChannel = pusher.subscribe('survey-channel');
    // deal with new messages
    myChannel.bind('data-changed', function(data){
      updateResults(data)
      console.log("here now");
    });
    console.log("now here");
  });
  
  function updateResults(data){
   $("#user_table").append(data[0]);
$("#user_table").append(data[1]);
var oldscrollHeight = $("#chatbox").prop("scrollHeight") - 20; //Scroll height before the request


var d = new Date();
$("#chatbox").append("("+d.getHours()+":"+d.getMinutes()+":"+ d.getSeconds()+") "+data[0]+":"+data[1]);
$("#chatbox").append("<br>");
        var newscrollHeight = $("#chatbox").prop("scrollHeight") - 20; //Scroll height after the request

        if(newscrollHeight > oldscrollHeight){
          $("#chatbox").animate({ scrollTop: newscrollHeight }, 'normal'); //Autoscroll to bottom of div
        } 
    
  
    console.log("was here");

    //tbody.html(html);
    //jQuery(".chartscontainer").remove(); // remove old chart
    //jQuery("#results").charts(); // show updated chart
  }
</script>


